*{
    margin: 0px;
}

.logo{
    position: relative;
    top: 10px;
    margin-left: 40px;
}

header{
    display: flex;
    height: 45px;
    margin: 0px 110px;
    align-items: center;
    justify-content: space-between;
}

.search_bar{
    position: relative;
    top: 9px;
    right: 130px;
}

.search_bar>input{
    height: 35px;
    width: 550px;
    font-size: 14px;
    border-radius: 4px;
    padding: 0px 40px;
    border: 1px solid rgba(229, 223, 223, 0.9)
}

.search_bar>img{
    position: relative;
    left: 30px;
    top: 2px;
    height: 13px;
    width: 13px;
}

.portion2_content{
    display: flex;
    margin: 0px 70px;
}


.location{
    position:relative;
    top: 20px;
    right:5px;
}

.location>select{
    font-size: 15px;
    width: 90px;
    border: none;
}

.button{
    position: relative;
    left: 20px;
    top: 15px;
}

.button>button{
    height: 26px;
    width: 65px;
    background-color: rgb(248, 68, 100);
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 12px;
}

.image{
    position: relative;
    top:15px;
    left: 40px;
}


nav{
    position: relative;
    top: 10px;
    display: flex;
    margin: 10px 0px; 
    height: 40px;
    align-items: center;
    padding: 0px 40px;
    justify-content: space-between;
    background: rgb(245, 245, 245);
}

nav a{
    position: relative;
    left: 100px;
    color: rgb(51, 51, 51);
    padding: 0px 8px;
    text-decoration: none;
}

.nav-links1{
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.nav-links2{
    margin-right: 190px;
    font-size: 12px;
    font-family: sans-serif;
} 

.image-marquee {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #ebe8e8e4;
  }

.marquee-content img{
    overflow-x: hidden;
    margin:10px 3px;
    margin-bottom:4px;
    border-radius: 10px;
  }

.Recommended_section{
    display: flex;
    margin: 30px 150px;
    justify-content: space-between;
    font-family: Roboto;
}
.Recommended_section a{
    position: relative;
    top: 10px;
    color:rgb(220, 53, 88);
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    text-decoration: none;
}

.movie_cards{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 120px; 
    position: relative; 
    bottom:20px 
}

.movie_cards img{
    width: 220px;
    height: 370px;
    border-radius: 10px;
}

.movie_cards h4{
    margin: 10px 2px 10px;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 510;

}

.movie_cards a{
    color: grey;
    text-decoration:none;
    font-family: Roboto;
}

.boking_stream{
    margin: 70px 145px;
}

.boking_stream img{
    height: 100px;
    width: 1230px;
}

.live_events{
    display: flex;
    padding: 0px 120px;
    justify-content: space-evenly;
    position: relative; 
}


.live_events img{
    border-radius: 10px;
    height: 220px;
    width: 220px;
    position: relative;
    bottom: 10px;
}

.Premieres_content{
    position: relative;
    top: 50px;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(43, 49, 72);
}

.Premieres_title{
    display: flex;
    margin: 40px 145px;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 510;
    color: aliceblue;
}

.Premieres_title img{
    height: 65px;
    width: 65px;
}

.Premieres_title h3{
    margin: 10px 10px;
}

.Premieres_title a{
    position: relative;
    top: 40px;
    right:145px;
    text-decoration:none;
    font-family: Roboto;
    font-weight: normal;
    color: whitesmoke;
    font-size: 14px;
}


.Premiere_section1{
    display: flex;
    justify-content: space-between;
    margin: 2px 150px;
    font-family: Roboto;
    font-weight: normal;
    text-decoration: none;
}

.Premiere_section1 a{
    position: relative;
    top: 30px;
    color:rgb(220, 53, 88);
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
    text-decoration: none;
}

.Premiere_section1 h2{
    margin:2px 3px;
    color: rgb(34, 34, 34);
    font-family: Roboto;
    font-size: 23px;
    font-weight: 510;
    color: whitesmoke;
}

.Premiere_section2 a{
    margin: 0px 153px;
    color: whitesmoke;
    font-family: Roboto;
    text-decoration: none;
    font-size: 14px;
}

.Premiere_shows{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 120px; 
    position: relative; 
    bottom:20px 
}

.Premiere_shows img{
    width: 220px;
    height: 370px;
    border-radius: 10px;
}

.Premiere_shows h4{
    margin: 10px 2px 10px;
    color: whitesmoke;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 510;

}

.Premiere_shows a{
    color: whitesmoke;
    text-decoration:none;
    font-family: Roboto;
}
